ShaiXuan/shaiXuan/Web References/ZEMISMARA_01/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_Z_EMIS_MARA_01">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedXMLTransfer uri="http://www.w3.org/2004/08/soap/features/http-optimization" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_Z_EMIS_MARA_01">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZEmisMara01">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char9">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char22">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="22" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char24">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="24" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Zemismara">
        <xsd:sequence>
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Maktx" type="n0:char40" />
          <xsd:element name="Matkl" type="n0:char9" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Lgort" type="n0:char4" />
          <xsd:element name="Sobkz" type="n0:char1" />
          <xsd:element name="Lifnr" type="tns:char24" />
          <xsd:element name="Labst" type="n0:quantum13.3" />
          <xsd:element name="Meins" type="n0:unit3" />
          <xsd:element name="Normt" type="tns:char18" />
          <xsd:element name="Zeinr" type="tns:char22" />
          <xsd:element name="Aetxt" type="tns:char40" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZemismara">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zemismara" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZEmisMara01">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Itab" type="tns:TableOfZemismara" />
            <xsd:element name="Lgordesc" type="xsd:string" />
            <xsd:element name="Maktdesc" type="xsd:string" />
            <xsd:element name="Maradesc" type="xsd:string" />
            <xsd:element name="Matkdesc" type="xsd:string" />
            <xsd:element name="Normdesc" type="xsd:string" />
            <xsd:element name="Posidesc" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZEmisMara01Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Itab" type="tns:TableOfZemismara" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZEmisMara01">
    <wsdl:part name="parameters" element="tns:ZEmisMara01" />
  </wsdl:message>
  <wsdl:message name="ZEmisMara01Response">
    <wsdl:part name="parameters" element="tns:ZEmisMara01Response" />
  </wsdl:message>
  <wsdl:portType name="Z_EMIS_MARA_01">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_Z_EMIS_MARA_01" />
    </wsp:Policy>
    <wsdl:operation name="ZEmisMara01">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZEmisMara01" />
      </wsp:Policy>
      <wsdl:input message="tns:ZEmisMara01" />
      <wsdl:output message="tns:ZEmisMara01Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Z_EMIS_MARA_01" type="tns:Z_EMIS_MARA_01">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_Z_EMIS_MARA_01" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZEmisMara01">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Z_EMIS_MARA_01">
    <wsdl:port name="Z_EMIS_MARA_01" binding="tns:Z_EMIS_MARA_01">
      <soap:address location="http://vicosrv5:8000/sap/bc/srt/rfc/sap/z_emis_mara_01/800/z_emis_mara_01/z_emis_mara_01" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>