ShaiXuan/shaiXuan/Web References/ZRFCPO_01/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_Z_RFC_PO_01">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedXMLTransfer uri="http://www.w3.org/2004/08/soap/features/http-optimization" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_Z_RFC_PO_01">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZRfcPo01">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Zrfcpo01">
        <xsd:sequence>
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Aufnr" type="n0:char12" />
          <xsd:element name="Gltrp" type="n0:date" />
          <xsd:element name="Gstrp" type="n0:date" />
          <xsd:element name="Gltri" type="n0:date" />
          <xsd:element name="Gamng" type="n0:quantum13.3" />
          <xsd:element name="Igmng" type="n0:quantum13.3" />
          <xsd:element name="Ktext" type="n0:char40" />
          <xsd:element name="Dauat" type="n0:char4" />
          <xsd:element name="Bmsch" type="n0:quantum13.3" />
          <xsd:element name="Igbms" type="n0:quantum13.3" />
          <xsd:element name="Aufpl" type="n0:numeric10" />
          <xsd:element name="Gasmg" type="tns:quantum13.3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZrfcpo01">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zrfcpo01" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZRfcPo01">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Aufndesc" type="xsd:string" />
            <xsd:element name="Dauadesc" type="xsd:string" />
            <xsd:element name="Endday1" type="n0:date" />
            <xsd:element name="Endday2" type="n0:date" />
            <xsd:element name="Itab" type="tns:TableOfZrfcpo01" />
            <xsd:element name="Ktexdesc" type="xsd:string" />
            <xsd:element name="Maradesc" type="xsd:string" />
            <xsd:element name="Startday1" type="n0:date" />
            <xsd:element name="Startday2" type="n0:date" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZRfcPo01Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Itab" type="tns:TableOfZrfcpo01" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZRfcPo01">
    <wsdl:part name="parameters" element="tns:ZRfcPo01" />
  </wsdl:message>
  <wsdl:message name="ZRfcPo01Response">
    <wsdl:part name="parameters" element="tns:ZRfcPo01Response" />
  </wsdl:message>
  <wsdl:portType name="Z_RFC_PO_01">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_Z_RFC_PO_01" />
    </wsp:Policy>
    <wsdl:operation name="ZRfcPo01">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZRfcPo01" />
      </wsp:Policy>
      <wsdl:input message="tns:ZRfcPo01" />
      <wsdl:output message="tns:ZRfcPo01Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Z_RFC_PO_01" type="tns:Z_RFC_PO_01">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_Z_RFC_PO_01" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZRfcPo01">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Z_RFC_PO_01">
    <wsdl:port name="Z_RFC_PO_01" binding="tns:Z_RFC_PO_01">
      <soap:address location="http://vicosrv5:8000/sap/bc/srt/rfc/sap/z_rfc_po_01/800/z_rfc_po_01/z_rfc_po_01" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>